<h1>Create Expense</h1>
<form action="/expense" method="post">
	<div class="container">
		<label for="from"><b>Employee ID</b></label>
		<input type="text" placeholder="Enter Employee ID" name="employeeID">
	</div>
</form>
