<!DOCTYPE html>
<html lang="en-CA">

	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="description" content="Payroll System" />
		<meta name="keywords" content="Payroll, System, Employee, Payroll" />
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
	</head>

	<body class="container is-full-desktop">


		<main class="content">
			{{{body}}}
		</main>

		<footer></footer>
	</body>

</html>