<link media="print" rel="stylesheet" href="/stylesheets/pdf.css" />

<button class="button" onclick="window.print()">Print</button>
{{!-- todo: download link is sometimeiesh; forget to prepend the :id of the path --}}
<a class="button" href="download">download</a>

<section class="columns">
	{{!-- http://microformats.org/wiki/h-card --}}
	<div class="h-card column">
		<p class="p-name"><em>Your Company Name</em></p>
		<div class="h-adr">
			<p class="p-street-address">123 Address Rd.</p>
			<span class="p-locality">City</span>, <span class="p-region">ON</span>
			<p class="p-postal-code">N0L 1R0</p>
		</div>
		<p class="p-tel">555-555-5555</p>
	</div>
	<div class="h-card column">
		<p class="p-name"><strong>John Smith</strong></p>
		<div class="h-adr">
			<p class="p-street-address">123 Address Rd.</p>
			<span class="p-locality">City</span>, <span class="p-region">ON</span>
			<p class="p-postal-code">N0L 1R0</p>
		</div>
	</div>
</section>

<hr>

<section class="columns">
	<p class="column">Pay Period:
		<br>
		<time datetime="">2023-11-17</time> - <time datetime="">2023-11-17</time>
	</p>
	<p class="column"><strong>Pay Date: </strong>
		<br>
		<time datetime="">2023-11-17</time>
	</p>
</section>

<table class="table is-striped is-fullwidth">
	<thead>
		<tr>
			<th>Income &nbsp; <p><i style="font-size:16px" title="Edit Income"></i></p>
			</th>
			<th>This Period</th>
			<th>Year to Date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<p>Regular Salary</p>
			</td>
			<td><data value="">x</data></td>
			<td><data value="">x</data></td>
		</tr>

		<tr>
			<td>Vacation</td>
			<td>
				<data value="">x</data>
			</td>
			<td><data value="">x</data></td>
		</tr>
		<tr>
			<td>Bonus</td>
			<td><data value="">x</data></td>
			<td><data value="">x</data></td>
		</tr>
		<tr>
			<td><strong>Gross Income</strong> &nbsp;</td>
			<td><data value="">x</data></td>
			<td><data value="">x</data></td>
		</tr>
	</tbody>
</table>

<table class="table is-striped">
	<thead>
		<tr>
			<th>Deductions</th>
			<th>Current Total</th>
			<th>Year to Date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Income Tax</td>
			<td><data value="">$0.00</data></td>
			<td><data value="">$0.00</data></td>
		</tr>
		<tr>
			<td>CPP</td>
			<td><data value="">x</data></td>
			<td><data value="">x</data></td>
		</tr>
		<tr>
			<td>EI</td>
			<td><data value="">x</data></td>
			<td><data value="">x</data></td>
		</tr>
		<tr>
			<td><strong>Total Deductions</strong> &nbsp;</td>
			<td><data value="">x</data></td>
			<td><data value="">x</data></td>
		</tr>
	</tbody>
</table>

<table class="table is-striped">
	<thead>
		<tr>
			<th>Total</th>
			<th>Current</th>
			<th>Year to Date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Income</td>
			<td><data value="">x</data></td>
			<td><data value="">x</data></td>
		</tr>
		<tr>
			<td>Deductions</td>
			<td><data value="">x</data></td>
			<td><data value="">x</data></td>
		</tr>
		<tr>
			<td><strong>Net Income</strong> &nbsp;</td>
			<td><data value="">x</data></td>
			<td><data value="">x</data></td>
		</tr>
	</tbody>
</table>