
<p id="lblMsg"></p>
<div class="btn">
    <form method="post">
    
    <input type="hidden" placeholder="Enter EmployeeID" name="EmployeeID" id="txtEmployeeID">

    <input type="hidden" placeholder="" name="latitude" id="lblLatitude">
    <input type="hidden" placeholder="" name="longitude" id="lblLongitude">

     <input type="hidden" placeholder="" name="clockType" id="lblClockType">
      <button id="btnClockIn" type="submit">Clock In</button>
    <button id="btnClockOut" type="submit">Clock Out</button>
   
    </form>
    
    {{!-- <button id="btnClockIn">Clock In</button>
    <button id="btnClockOut">Clock Out</button> --}}
</div>
<script>
document.getElementById("btnClockOut").addEventListener("click", btnClockOutOnClick);
function btnClockOutOnClick() {

    var employeeId = prompt("Enter Employee ID", "");
    document.getElementById("txtEmployeeID").value = employeeId
    document.getElementById("lblClockType").value = "clockOut"
}
document.getElementById("btnClockIn").addEventListener("click", btnClockInOnClick);
function btnClockInOnClick() {

    var employeeId = prompt("Enter Employee ID", "");
    document.getElementById("txtEmployeeID").value = employeeId
    document.getElementById("lblClockType").value = "clockIn"
}
    //click clock in, or clock out. Then will be promted a alert, then will redirect
    var searchParams = new URLSearchParams(window.location.search);
    console.log(searchParams.get('result'))

    document.getElementById("lblMsg").innerHTML = searchParams.get('result')
    //for (const param of searchParams) {
 //   console.log(param);
  //  }



if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              const latitude = position.coords.latitude;
              const longitude = position.coords.longitude;
              console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);

              document.getElementById("lblLatitude").value = latitude
              document.getElementById("lblLongitude").value = longitude

   })}


   
</script>

