<p>THIS IS THE WEB APP</p>
<p id="lblMsg"></p>
<div class="btn">
    <form method="post">
    
    <input type="hidden" placeholder="Enter EmployeeID" name="EmployeeID" id="txtEmployeeID">
    <button id="btnLogin" type="submit">Login</button>
    </form>
    
    <button id="btnClockIn">Clock In</button>
    <button id="btnClockOut">Clock Out</button>
</div>
<script>
document.getElementById("btnLogin").addEventListener("click", btnLoginOnClick);
function btnLoginOnClick() {
    console.log("Login BTN Clicked!")
    var employeeId = prompt("Enter Employee ID", "");
    document.getElementById("txtEmployeeID").value = employeeId
}

    //click clock in, or clock out. Then will be promted a alert, then will redirect
    var searchParams = new URLSearchParams(window.location.search);
    console.log(searchParams.get('result'))

    document.getElementById("lblMsg").innerHTML = searchParams.get('result')
    //for (const param of searchParams) {
 //   console.log(param);
  //  }
</script>

