<p>THIS IS THE WEB APP</p>
<p id="lblMsg"></p>
<div class="btn">
    <form method="post">
    <label for="EmployeeID"><b>EmployeeID</b></label>
    <input type="text" placeholder="Enter EmployeeID" name="EmployeeID">
    <button id="btnLogin" type="submit">Login</button>
    </form>
    
    <button id="btnClockIn">Clock In</button>
    <button id="btnClockOut">Clock Out</button>
</div>
<script>
    var searchParams = new URLSearchParams(window.location.search);
    console.log(searchParams.get('result'))

    document.getElementById("lblMsg").innerHTML = searchParams.get('result')
    //for (const param of searchParams) {
 //   console.log(param);
  //  }
</script>

