<h2>Shifts</h2>
<p>View your upcoming and past shifts.</p>

<p>🔴 - red shifts are canceled</p>
<p>🟣 - purple shifts are in progress</p>
<p>🟡 - yellow shifts have been requested off</p>
<p>🔵 - blue shifts are scheduled</p>
<p>🟢 - green shifts are completed</p>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
<div id="calendar"></div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const calendarEl = document.getElementById("calendar");
        const calendar = new FullCalendar.Calendar(calendarEl, {{{ json calendarOptions }}});
    function requestOff(info) {
        if (confirm("Would you like to request off for your shift on " + info.event.start.toLocaleDateString() + "?"))
            window.location.href = `/shifts/requestOff/${info.event.id}`;
    }
    calendar.on('eventClick', requestOff);
    calendar.render();
    });
</script>