<h2>Shifts</h2>
<p>View your upcoming and past shifts.</p>

<p>🔴 - red shifts are missed/canceled</p>
<p>🟣 - purple shifts are in progress</p>
<p>🟡 - yellow shifts have been requested off</p>
<p>🔵 - blue shifts are scheduled</p>
<p>🟢 - green shifts are completed</p>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
<div id="calendar"></div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const calendarEl = document.getElementById("calendar");
        const calendar = new FullCalendar.Calendar(calendarEl, {{{ json calendarOptions }}});
        calendar.render();
    });
</script>